{
  "presets": ["env"],

  "plugins": [
    ["transform-react-jsx", {
      "pragma": "m",
      "useBuiltIns": true
    }],
    ["transform-object-rest-spread", {
      "useBuiltIns": true
    }],
  ]
}
